<!DOCTYPE html>
<html>
<head>
    <title>Patients</title>
</head>
<body>

<h2>Patient Records</h2>

<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Prediction</th>
</tr>

{% for patient in patients %}

<tr>
    <td>{{ patient.id }}</td>
    <td>{{ patient.patient_name }}</td>
    <td>{{ patient.age }}</td>
    <td>{{ patient.gender }}</td>
    <td>{{ patient.prediction }}</td>
</tr>

{% endfor %}

</table>

<br>

<a href="/dashboard">Dashboard</a>

</body>
</html>